---
import TextLink from "./TextLink.astro"
---

<header class="mx-auto w-full max-w-3xl p-4 md:w-2/3 md:p-8">
  <div class="flex items-center gap-2">
    <a
      href="/"
      class="inline-flex size-8 items-center justify-center border border-solid border-primary text-primary hover:border-primary-focus hover:bg-primary hover:text-base-100"
    >
      M
    </a>
    <div class="ml-auto">
      <div class="flex items-center gap-1">
        <TextLink href="/notes/">Notes</TextLink>
      </div>
    </div>
  </div>
</header>
