---
import type { CollectionEntry } from "astro:content"

type Props = CollectionEntry<"posts">["data"]

const { title, date } = Astro.props
---

<article>
  <div class="prose">
    <h1>{title}</h1>
    <div>
      Published <time datetime={date}>{date}</time>
    </div>
    <slot />
  </div>
</article>
