name: Check PullRequest before Merge

on:
  pull_request:
    branches:
      - main

jobs:
  static-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          version: 10.21.0
      - run: pnpm install
      - name: Build
        run: npm run build
      - name: format
        run: npm run format:check
      - name: Lint
        run: npm run lint
      - name: Type check
        run: npm run tsc
      - name: Test
        run: npm run test
