name: 'Storybook Tests'

on: push

jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
        with:
          version: 10.29.2
      - run: pnpm install
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps chromium
      - name: Build
        run: pnpm build
      - name: Run Storybook tests
        run: pnpm test:storybook
